{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- bootstap 4 -->
  <link rel="stylesheet" href="{% static 'footprint_service/lib/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}">
  <!-- Datatables -->
  <link rel="stylesheet" href="{% static 'footprint_service/lib/DataTables-1.12.1/datatables.min.css' %}">
  <!-- Leaflet map lib-->
  <link rel="stylesheet" href="{% static 'footprint_service/lib/leaflet-1.8.0/leaflet.css' %}">
  <!-- custom css-->
  <style>
    .highlight {
      background-color: lightskyblue !important;
    }

    #table, #map {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #btn-analyse {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px;
      z-index: 10000;
    }
  </style>
</head>
<body>

  {% csrf_token %}

  <div class="container-fluid">
    <div class="row">
      <!-- Leaflet map -->
      <div class="col-md-6">
          <div id="map" style="height: 512px; max-width: 512px;" class="position-relative">
            <button id="btn-analyse" class="btn btn-primary btn-sm">Extract footprints</button>
          </div>
      </div>
      <!-- Datatables -->
      <div class="col-md-6">
        <table id="table" class="table table-bordered table-sm" style="width:100%"></table>
      </div>
    </div>
  </div>

<!--Jquery  -->
<script src="{% static 'footprint_service/lib/jquery-3.6.0/jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'footprint_service/lib/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js' %}"></script>
<!-- Datatables & datetime plugin-->
<script src="{% static 'footprint_service/lib/DataTables-1.12.1/datatables.min.js' %}"></script>
<script src="{% static 'footprint_service/lib/dataRender-datetime-1.12.1/datetime.js' %}"></script>
<!-- Leaflet map logic js -->
<script src="{% static 'footprint_service/lib/leaflet-1.8.0/leaflet.js' %}"></script>
<script src="{% static 'footprint_service/lib/leaflet-bing-layer-v1.0.0/leaflet-bing-layer.min.js' %}"></script>
<!-- Custom js -->
<script src="{% static 'footprint_service/js/map.js' %}"></script>
<script src="{% static 'footprint_service/js/table.js' %}"></script>
<script src="{% static 'footprint_service/js/controller.js' %}"></script>

</body>
</html>
